html, body {
    margin: 0;
    background: url("/static/img/home.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    overflow: hidden;

}

.nav {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 50px;
    padding-top: 10px;
}

.nav-link {
    color: white;
    font-size: 20px;
    transition: .2s all;
    display: inline;
}

.left-nav {
    float: left;
    width: 70%;
}

.right-nav {
    float: right;
    width: 30%;
    text-align: right;
}

.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  transition: .5s all;
}
.success {
  background: #70DA8B;
  color: #343a40;
}
.error {
  background: #fc5555;
  color: #343a40;
}

.login {
    float: right;
    margin: 5% 15%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.login .field {
    width: 100%;
    margin-top: 3px;
    border: none;
}

.login button {
    background-color: #70DA8B;
    width:80%;
    display: block;
    margin: 20px auto;
    border-radius: 2px;
    border: none;
}

.login .error {
    padding: 0;
    color: white;
}

.login-items {
    margin-top: 10%;
}

.dropdown-toggle {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 0;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
