html, body {
    margin: 0;
    background: url("/static/img/home.jpg") no-repeat center;
    height: 100%;
    background-size: cover;

}

.nav {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 50px;
    padding-top: 10px;
}

.nav-link {
    color: white;
    font-size: 20px;
    transition: .2s all;
    display: inline;
}

.left-nav {
    float: left;
    width: 70%;
}

.right-nav {
    float: right;
    width: 30%;
    text-align: right;
}

.login {
    overflow: hidden;
    width: 200px;
    border: 1px solid white;
    background-color: cornflowerblue;
}

.form {
    display: block;
}

.field {
    display: block;
    margin-left: auto;
}

