{% extends 'layout.html' %}

{% block title %}About{{ super() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="about col-md-8 mx-auto">
            <p>Native Sins are a new a four piece rock band from Dunfermline, we have recently been releasing music and began to play gigs, so check our page for updates on both!
                Our members include Andrew Slater on lead guitar, Andrew Bruce on the drums, Mikey Buchan on the bass, and our vocalist/guitarist Greig Brown
            </p>
        </div>
    </div>
{% endblock %}