{% extends 'layout.html' %}

{% block title %}Products{{super()}}{% endblock %}

{% block body %}
    <script>
        window.onload = function() {

        };
    </script>
    <div class="container ">
        <div class="products">
            {% for product in products %}
            <div class="card product" style="width: 18rem;">
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.product_description }}</p>
                    <p><strong>Price: </strong>£{{ product.product_price }}</p>
                    <strong>Stock: </strong>
                        {% if product.product_category == "tshirt" %}
                            <div id="small_stock">{{ product.small_stock_level }}</div>
                            <div id="medium_stock">{{ product.medium_stock_level }}</div>
                            <div id="large_stock">{{ product.large_stock_level }}</div>
                        {% else %}
                            {{ product.stock_level }}
                        {% endif %}<br><br>

                    {% if product.product_category == "tshirt" %}
                        <strong>Size: </strong>
                        <select onchange="change_stock(this)">
                            {% if product.small_stock_level > 0 %}
                                <option value="small">Small</option>
                            {% endif %}
                            {% if product.medium_stock_level > 0 %}
                                <option value="medium">Medium</option>
                            {% endif %}
                            {% if product.large_stock_level > 0 %}
                                <option value="large">Large</option>
                            {% endif %}
                        </select><br><br>
                    {% endif %}
                    <strong>Quantity: </strong><input title="quantity" class="quantity" type="text" name="quantity"><br><br>
                    <form action="#" method="POST">
                        <button type="submit" class="btn add_to_basket">Add to basket</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}